*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    color: #23272a;

}
/* container header */
header{
    background-color: #255ee9;
    width: 100%;
    line-height: 5rem;
    
}
/* logo */
.logo{
    float: left;
    width: calc(30% - 15%);
    text-align: center;
    margin-left: 15%;

}
.logo img{
    vertical-align: middle;

}

/* navbar */
nav{
    width: calc(100% - 60%);
    float: left;
    font-weight: 700;
    color: white;
    text-align: center;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 0 1.2em;
}

/* button login */
.header-button{
    width: calc(30% - 15%);
    float: right;
    vertical-align: middle;
    text-align: center;
    margin-right: 15%;
}

header button{
    padding: 0.8em 1em;
    border-radius: 20px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
a:visited, a:link{
    text-decoration: none;
    color: #333739;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

/* sezioni homepage */
section{
    width: 100%;
}
main section:first-child{
    background: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
h1{
    font-weight: 900;
    font-size: 3.2rem;
    display: inline-block;
    padding: 7rem 0 2rem;
    
}
.download{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    color: white;
}
p{
    font-size: 22px;
    font-weight: 500;
}
.download > p{
margin: 2rem 0;
}
.content button{
    padding: 0.7em 1.4em;
    border-radius: 50px;;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin: 0 .8em;
    margin-bottom: 14em;
}
.download button:nth-of-type(2){
    background-color: #23272a;
    color:white;
}

/* inizio sezioni simili */
section:not(:last-child, :first-child){
    height: 90vh;
}
main section:nth-of-type(odd){
    background-color: #f6f6f6;
}
.content{
    width:70%;
    margin: 3em auto;
}
.image{
    float:left;
    margin-top: 5rem; 

}
.text{
    width: 30%;
    float:left;
}
/* margin elementi a sinistra */
.content > :first-child{
    margin-right: 7rem;
    margin-left: 5rem;
}
/* fine margin */

.content::after{
    content: "";
    display: table;
    clear:both;
}
section:last-child{
    text-align: center;

}
.big-image{
    width: 90%;
    height: auto;
}
h3{
    font-size:2em;
}
section:last-child button{
    background-color: #8ea1e1;
    color: white;
    margin: 2rem 0 5rem;
}