*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;

}
/* container header */
header{
    background-color: #255ee9;
    width: 100%;
    line-height: 5rem;
    
}
/* logo */
.logo{
    float: left;
    width: calc(30% - 15%);
    text-align: center;
    margin-left: 15%;

}
.logo img{
    vertical-align: middle;

}

/* navbar */
nav{
    width: calc(100% - 60%);
    float: left;
    font-weight: 700;
    color: white;
    text-align: center;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 0 1.2em;
}

/* button login */
.header-button{
    width: calc(30% - 15%);
    float: right;
    vertical-align: middle;
    text-align: center;
    margin-right: 15%;
}

button{
    padding: 0.8em 1em;
    border-radius: 20px;
    border: none;
}
a:visited, a:link{
    text-decoration: none;
    color: #333739;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

/* sezioni homepage */
main section:first-child{
    background: url(../img/jumbo.png);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
} 
h1{
    font-weight: 900;
    font-size: 3rem;
    display: inline-block;
}

/* 
main section:nth-of-type(even){
    background-color: beige;
    width: 100%;
    height: 300px;
}
section:nth-of-type( odd){
    width: 100%;
    height: 300px;
} */